@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  cursor: pointer;
}

select,
textarea,
input,
button {
  color: inherit;
  background-color: inherit;
}

.background {
  background: var(
    --Gradient,
    linear-gradient(168deg, #5b21b6 0%, #111827 100%)
  );
}

.products-bg {
  border-radius: 10px;
  background: var(
    --Gradient-kafla,
    linear-gradient(180deg, #8b5cf6 0.15%, #5b21b6 99.85%)
  );
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loader {
  width: 25px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, white 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  background-position: 0% 50%, 50% 50%, 100% 50%; /* Adjusting the position */
  background-size: calc(80% / 3) 100%, calc(80% / 3) 100%, calc(80% / 3) 100%; /* Increased spacing between balls */
  animation: l7 1s infinite linear;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes l7 {
  33% {
    background-size: calc(80% / 3) 0%, calc(80% / 3) 100%, calc(80% / 3) 100%;
  }
  50% {
    background-size: calc(80% / 3) 100%, calc(80% / 3) 0%, calc(80% / 3) 100%;
  }
  66% {
    background-size: calc(80% / 3) 100%, calc(80% / 3) 100%, calc(80% / 3) 0%;
  }
}
