@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  cursor: pointer;
}

select,
textarea,
input,
button {
  color: inherit;
  background-color: inherit;
}
